<head>
  <script src='js/app.js'></script>
</head>

  <input id ='message_box' type='text' name='content'>
  <input id ='submit_message' type='submit' name='submit message'>
<body>

    <input id='edit_button' type='submit' name='edit' value = "edit">
    <input id='delete_button' type='submit' value="delete">
    <h1 id ='all_messages' ></h1>

<script> editButtonListener() </script>
<script> createButtonListener() </script>
</body>
