<head>
  <script src='js/app.js'></script>
</head>

  <input id ='message_box' type='text' name='content'>
  <input id ='submit_message' type='submit' name='submit message'>
<body>
      <ul id ='all_messages'>


      </ul>

<script> createButtonListener()</script>
<!-- <script> editButtonListener()</script> -->

</body>
