<head>
  <script src='js/app.js'></script>
</head>
<form action='/json/create' method='post'>
  <input type='text' name='content'>
  <input type='submit' name='submit message'>
</form>

<body>

<ul id='messages'>
  <li>
  <% @messages.each do |message| %>
      Illuminati message: <p id = 'each_message'> <%= message.content%> </p>
      <form action='/json/update' method='post'>
        <!-- <input id="edit_box" type="text" name="box"> -->
        <input id='edit_button*adds something each time*' type='submit' name='edit' value = "edit">
      </form>
      <form action = '/json/delete' method='get'>
        <input id='delete_button' type='submit' value="delete">
      </form>
  <%end%>
</li>
</ul>

<script> editButtonListener() </script>
</body>
