<head>
  <script src='js/app.js'></script>
</head>

  <input id ='message_box' type='text' name='content'>
  <input id ='submit_message' type='submit' name='submit message'>
<body>
      <p id ='all_messages' ></p>
      <!-- <p class="edit_button_class"> </p> -->
        <p id='edit_button'> </p>
    <!-- <p id = -->
<!-- <script> editButtonListener() </script> -->
<script> createButtonListener()</script>

</body>
